Repository JDAI-CV/dabnn: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

ci/dabnn_build_and_test.yml:
  pool:
    vmImage: macOS-10.14
  steps:
  - checkout: self
    submodules: true
  - bash: brew install watch gnu-sed
    displayName: Install watch and gnu-sed
  - bash: ci/build_dabnn.sh
    displayName: Build
  - bash: ci/start_android_emulator.sh
    displayName: Start Android Emulator
  ...

ci/onnx2bnn_build.yml:
  jobs:
  - job: Linux_AppImage
    pool:
      vmImage: ubuntu-16.04
    steps:
    - checkout: self
      submodules: true
    - script: sudo apt install -y protobuf-compiler libprotobuf-dev
      displayName: Install protobuf
    - bash: ci/build_onnx2bnn.sh
      displayName: Build
    - bash: ci/build_appimage.sh
  ...

Update README
  README.md
  README_CN.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Use ninja instead of make in net_test configuration
  .daq_pm/configs/net_test
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

1. Update CMakeLists.txt to support non-Android aarch64 devices 2. Add guard on optimized methods, and delegate to non-optimized methods on unsupported devices
  .daq_pm/configs/bconv_test_x86
  .daq_pm/configs/net_test_x86
  CMakeLists.txt
  cmake/system.cmake
  dabnn/bconv.h
  dabnn/bgemm.h
  dabnn/bitpack.h
  dabnn/layers/AvePool.cpp
  dabnn/layers/BinConv.cpp
  dabnn/layers/MaxPool.cpp
  dabnn/layers/Relu.cpp
  dabnn/net.cpp
  tests/bconv_test.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Remove unnecessary logs
  dabnn/mat.h
Due: ci/dabnn_build_and_test.yml

Add armv7 implementation of bgemm, however, a armv7 device is needed to test it
  CMakeLists.txt
  dabnn/bgemm.h
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update some configurations
  .daq_pm/configs/bconv_test_x86
  .daq_pm/configs/bgemm_test
  .daq_pm/configs/bitpack_test
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Replace __builtin_popcountl in armv7, since long is 32-bit here
  .daq_pm/configs/bgemm_test_v7
  .daq_pm/configs/bgemm_test_x86
  common/baseline.h
  dabnn/bgemm.h
  tests/bitpack_test.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix bug of armv7 bgemm, add armv7 implemenation of maxpool and avepool (test not passed)
  .daq_pm/configs/bgemm_test_v7
  .daq_pm/configs/net_test_v7
  dabnn/bgemm.h
  dabnn/layers/AvePool.cpp
  dabnn/layers/MaxPool.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix configuration which doesn't enable neon
  .daq_pm/configs/bgemm_test_v7
  .daq_pm/configs/net_test_v7
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix maxpool that doesn't throw exception
  dabnn/layers/MaxPool.cpp
Due: ci/dabnn_build_and_test.yml

Fix bug in armv7 maxpool 2x2
  dabnn/layers/MaxPool.cpp
Due: ci/dabnn_build_and_test.yml

Add max pool fallback
  dabnn/layers/MaxPool.cpp
Due: ci/dabnn_build_and_test.yml

[daq_pm] Build net_test for android-21 instead of android-28
  .daq_pm/configs/net_test
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

fined im2col mat size
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Add the missing require_align=False for trans_weight_mat
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Fix the wrong gemm_compatible()
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Update operator== of Mat, add support for nan and Bit datatype
  dabnn/mat.h
Due: ci/dabnn_build_and_test.yml

Update error message for inner_kernel k%2==0
  dabnn/bgemm.h
Due: ci/dabnn_build_and_test.yml

Fix bug: output_mat is not inited in bgemm
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Enable bgemm for armv7
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Add armv7 test
  ci/build_dabnn_v7.sh
  ci/dabnn_build_and_test.yml
  ci/start_android_emulator_v7.sh
  ci/template_dabnn_run_test.yml
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Add guard in unsupported functions
  .daq_pm/configs/all_v7
  benchmark/benchmark.cpp
  tests/bitpack_test.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update README.md
  README.md
  README_CN.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update imgs
  images/comparison_cn.png
  images/comparison_en.png
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update design_CN.md
  doc/design_CN.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update bconv_CN.md
  doc/bconv_CN.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update onnx2bnn_CN.md
  doc/onnx2bnn_CN.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Rename doc -> docs
  docs/bconv_CN.md
  docs/design_CN.md
  docs/onnx2bnn_CN.md
Due: none

Update onnx2bnn_CN.md
  docs/onnx2bnn_CN.md
Due: none

Update docs, use ## instead of ##### and misc changes
  docs/bconv_CN.md
  docs/design_CN.md
  docs/onnx2bnn_CN.md
Due: none

fix links in design_CN.md
  docs/design_CN.md
Due: none

Rename bconv_out.md to bconv.md
  docs/bconv.md
  docs/bconv.md.in
  docs/bconv_out.md
Due: none

Rename design.md -> overall.md
  docs/overall.md
  docs/overall_CN.md
Due: none

Update README and misc changes
  README.md
  README_CN.md
  docs/overall.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Add instructions for building
  README.md
  README_CN.md
  docs/build.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

update docs/build.md
  docs/build.md
Due: none

Path conditions:
  ci/dabnn_build_and_test.yml: any of: *, but not: README.md, docs
  ci/onnx2bnn_build.yml: any of: *, but not: README.md, docs, dabnn
